
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-height: 100vh;
    background-color: black;
}
.container {
    display: flex;
    width: 100vw;
    max-height: 100vh;
    /* background-color: rgb(148, 148, 148); */
}

#image {    /* <<< ---------------- MAIN PICTURE - PROGRAMES -------------- */
    width: 610px;
    height: 470px;
    margin:10em 20em 0 -60em;

    z-index: 1; 
}
.marco {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.marco img {
    padding: 0;
    height: 48em; /* keeps tv size */
    /* border:1px solid black; */
    z-index: 100;
}
#mandoAround{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(148, 148, 148); */
    width: 50em;
    height: 45.4em;
}

#tvAround {
    height: 40em;
}

#signal {     /* <<< ---------------- GREEN/RED LIGHT - lights up when tv is on (red when stand by?) -------------- */
    width: 3.5em;
    height: 0.9em;
    border: .1em solid lightgray;
    position: absolute;
    
    margin: 38.9em 0 0 52em;
    z-index: 150;
}
.greenDot {
    background-color: rgba(0, 255, 115, 0.429);
}
.redDot {
    background-color: rgba(255, 0, 0, 0.429);
}

#mando {
    border:1em solid black;
    background-color: rgb(112, 112, 112);
    border-radius: 2em;
    
    width: 10em;
    height: 25em;

    display: flex;
    flex-direction: column;

}
#mando2 {
    border-radius: 1em;
    margin: 0.25em 0 0 0.25em;
    border: 0.25em solid black;
    width: 9em;
    height: 24em;
    
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
}
#displayChannelScreen, #displayChannel, #displayDay, #displayTime {

    position: absolute;
    z-index: 150;
    display: flex;
    flex-direction:row;
    justify-content: center;
    font-size: smaller;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#displayChannelScreen {
    margin-top: -28em;
    margin-left: 30em;
    color: darkred;
    background-color: rgba(128, 128, 128, 0.800);
}
#displayChannel {
    margin-top: -45em;
    margin-left: 67em;
    
}
#displayDay {
    margin-top: -43em;
    margin-left: 67em;
    
}
#displayTime {
    margin-top: -41em;
    margin-left: 67em;
    
}
a {
    text-decoration: none;
}
#redBtn {
    background-color: darkred;
    border: 0.1em double rgb(66, 7, 7);
    border-radius: 50%;
    color: lightgray;
    display: flex;

    align-items: center;
    justify-content: center;
    margin: 0em 1em 0 1em;
    height: 2.5em;
}
button {
    cursor: pointer;
    text-decoration: none;
    border: none;
    background: none;
    color: white;
    margin: 0;
    padding: 0;
}


#volumeBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.lessVolume, .moreVolume {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.8em;
    background-color: black;
    border: 0.2em double rgb(56, 55, 55);
    color: lightgray;
    height: 4.5em;
    text-align: center;
}
.lessVolume{  
    padding-left: 2em;
    border-radius: 50% 0 0 50%;
    margin: 1.5em 0 1.5em 0.7em;
}
.moreVolume {
    padding-right: 2em;
    border-radius: 0 50% 50% 0;
    margin: 1.5em 0.7em 1.5em 0;
}
#redBtn:active, 
.lessVolume:active,
.moreVolume:active,
.btn:active {
    transition: 0.1s;
    opacity: 0.75;
}
#btns {
    display: flex;
    flex-direction: column;
    /* align-items: space-around;
    justify-content: center; */
    
}
.colbtn {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1em;
}
.btn {
    height: 3em;
    width: 3em;
    border-radius: 30%;
    border: 0.2em double rgb(56, 55, 55);
    margin: 0 0.5em 0.5em 0.5em;
    background-color: black;
    color: lightgray;
    text-align: center;
    vertical-align: middle;
}

.btn span {
    margin-top: 2.5em;
}
.numbers {
    scale: 1.5;
}

.blackScreen {
    background-color: black;
}
.static {
    background-image: url(../img/tvstatic.gif);
    background-size:cover;
}
.ch1{
    background-image: url(../img/ch1.jpeg);
    background-size:cover;
}
.ch2{
    background-image: url(../img/ch2.jpeg);
    background-size:cover;
}
.ch3{
    background-image: url(../img/ch3.jpeg);
    background-size:cover;
}
.ch4{
    background-image: url(../img/ch4.jpg);
    background-size:cover;
}
.ch5{
    background-image: url(../img/ch5.jpeg);
    background-size:cover;
}
.ch6{
    background-image: url(../img/ch6.jpeg);
    background-size:cover;
}

